<div class="header pb-8 pt-5 pt-md-8" style="background-color:#F4A601;">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-6 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">List of Incoming Orders</h5>
                    <span class="h2 font-weight-bold mb-0">Orders List</span>
                  </div>
                  <div class="col-auto">
                        <a href="#" class="avatar rounded-circle mr-3">
                                <img alt="Image placeholder" src="img/theme/shoppingcart.png">
                              </a>
                    <!-- <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-chart-bar"></i>
                    </div> -->
                  </div>
                </div>
                <a href="/tables" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Explore!</a>
                <!-- <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                  <span class="text-nowrap">Since last month</span>
                </p> -->
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Complete an order Now!</h5>
                    <span class="h2 font-weight-bold mb-0">Order Delivery</span>
                  </div>
                  <div class="col-auto">
                        <a href="#" class="avatar rounded-circle mr-3">
                                <img alt="Image placeholder" src="img/theme/order-delivery.png">
                              </a>
                    <!-- <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="fas fa-chart-pie"></i>
                    </div> -->
                  </div>
                </div>
                <a href="/profile" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Complete!</a>
                <!-- <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                  <span class="text-nowrap">Since last week</span>
                </p> -->
              </div>
            </div>
          </div>
          </div>
          <br />
          <div class="row">
          <div class="col-xl-6 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Start a new Campaign!</h5>
                    <span class="h2 font-weight-bold mb-0">Campaigns</span>
                  </div>
                  <div class="col-auto">
                        <a href="#" class="avatar rounded-circle mr-3">
                                <img alt="Image placeholder" src="img/theme/campaigns.png">
                              </a>
                    <!-- <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                      <i class="fas fa-users"></i>
                    </div> -->
                  </div>
                </div>
                <a href="/register" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Start!</a>
                <!-- <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                  <span class="text-nowrap">Since yesterday</span>
                </p> -->
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Add a new item to your catalogue!</h5>
                    <span class="h2 font-weight-bold mb-0">Inventory</span>
                  </div>
                  <div class="col-auto">
                        <a href="#" class="avatar rounded-circle mr-3">
                                <img alt="Image placeholder" src="img/theme/add-inventory.png">
                              </a>
                    <!-- <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                      <i class="fas fa-percent"></i>
                    </div> -->
                  </div>
                </div>
                <a href="/icons" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Add!</a>
                <!-- <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                  <span class="text-nowrap">Since last month</span>
                </p> -->
              </div>
            </div>
          </div>
          </div>
          <br />
          <!-- indi -->
        </div>
      </div>
    </div>
  </div>