<body class="bg-default">
  <div class="main-content">
    <!-- Navbar -->
    <% include ../partials/auth/navbar %>
    <!-- Header -->
    <% include ../partials/dashuser %>
    <!-- Page content -->    
  </div>
  <!-- Footer -->
  <!-- <% include ../partials/auth/footer %> -->

  <!-- Include scripts -->
  <% include ../partials/scripts %>
</body>
